# Project exclude paths
/cmake-build-debug/

diff --git a/.gitignore b/.gitignore
index da6ed1a..a6c4f16 100644
--- a/.gitignore
+++ b/.gitignore
@@ -1,2 +1,3 @@
 # Project exclude paths
-/cmake-build-debug/
\ No newline at end of file
+/cmake-build-debug/
+/build/
diff --git a/CMakeLists.txt b/CMakeLists.txt
index 095195f..86e41a1 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -44,4 +44,7 @@ add_custom_command(
         COMMAND ${CMAKE_COMMAND} -E copy_if_different $<TARGET_FILE:Qt5::Core> $<TARGET_FILE_DIR:Snake>
         COMMAND ${CMAKE_COMMAND} -E copy_if_different $<TARGET_FILE:Qt5::Gui> $<TARGET_FILE_DIR:Snake>
         COMMAND ${CMAKE_COMMAND} -E copy_if_different $<TARGET_FILE:Qt5::Widgets> $<TARGET_FILE_DIR:Snake>
+        COMMAND ${CMAKE_COMMAND} -E copy_directory_if_different ${CMAKE_CURRENT_SOURCE_DIR}/data $<TARGET_FILE_DIR:Snake>/data
+        COMMAND ${CMAKE_COMMAND} -E copy_directory_if_different ${CMAKE_CURRENT_SOURCE_DIR}/maps $<TARGET_FILE_DIR:Snake>/maps
+        COMMAND ${CMAKE_COMMAND} -E copy_directory_if_different ${CMAKE_CURRENT_SOURCE_DIR}/plugins $<TARGET_FILE_DIR:Snake>/plugins
 )
diff --git a/Qt5Core.dll b/Qt5Core.dll
deleted file mode 100644
index fa427f8..0000000
Binary files a/Qt5Core.dll and /dev/null differ
diff --git a/Qt5Gui.dll b/Qt5Gui.dll
deleted file mode 100644
index 62670ba..0000000
Binary files a/Qt5Gui.dll and /dev/null differ
diff --git a/Qt5Widgets.dll b/Qt5Widgets.dll
deleted file mode 100644
index 3f3bfba..0000000
Binary files a/Qt5Widgets.dll and /dev/null differ
diff --git a/level_1.txt b/maps/level_1.txt
similarity index 100%
rename from level_1.txt
rename to maps/level_1.txt
diff --git a/level_2.txt b/maps/level_2.txt
similarity index 100%
rename from level_2.txt
rename to maps/level_2.txt
diff --git a/level_3.txt b/maps/level_3.txt
similarity index 100%
rename from level_3.txt
rename to maps/level_3.txt
diff --git a/level_4.txt b/maps/level_4.txt
similarity index 100%
rename from level_4.txt
rename to maps/level_4.txt